/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}

/* Cuerpo de la página */
body {
    min-height: 10%;
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

/* La barra de navegación */
.header {
    background-color: #100647;
    display: flex;
    justify-content: space-between; /* Distribuye los elementos en los extremos */
    align-items: center;
    height: 60px;
    padding: 5px 10%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}
 
.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 75px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: #FFA358;
}
/*Boton*/
.btn{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header .btn {
    margin-right: 100px; /*tamaño del botón*/
}

.header .btn button {
    position: relative;
    padding: 20px;
    font-weight: 700;
    color: #100647;
    padding: 9px 25px;
    background: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    background-color: aliceblue;
    color: #FFA358;
    transform: scale(1.1);
}

/* Imágenes */
img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.container-all {
    position: relative;
    max-width: 100%;
    width: 100%; /* Hacemos que el contenedor ocupe todo el ancho */
    margin-bottom: 50px;/* Para que no choque con los elementos de abajo*/
    border-radius: 2%; /*el contorno del borde*/
    overflow: hidden;
    margin-top: 10px; /* Ajustamos el margen para que los elementos no se superpongan con la barra de navegación */
    display: flex;
    justify-content: center; /* Centramos el contenido horizontalmente */
}

/* Movimiento de las imágenes */
.slider {
    display: flex;
    transform: translate(0,0,0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    max-width: 100%; /* Hacemos que el slider ocupe todo el ancho del contenedor */
}

.item-slider {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    flex: 0 0 100%; /* Cada imagen ocupa 100% del ancho */
    max-width: 100%; /* Aseguramos que cada imagen ocupe todo el ancho */

}

.pagination {
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

/* Animación del cursor */
.pagination-item:hover {
    transform: scale(1.5);
}

.pagination-item img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

/* Para mostrar las imágenes del icono cuando se pase el cursor */
.pagination-item:hover img {
    opacity: 1;
    transform: scale(1);
}

/* Al momento de dar click esa animación se va a eliminar */
input[id="1"]:checked ~ .slider {
    animation: none;
    transform: translate3d(0, 0, 0);
}

/* Para cuando de click el botón se ponga en blanco */
input[id="1"]:checked ~ .pagination .pagination-item[for="1"] {
    background: #fff;
}

input[id="2"]:checked ~ .slider {
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0); /*el calculo depende de cuantas imagenes esté*/
}

/* Para que el icono me dirija a las imágenes */
input[id="2"]:checked ~ .pagination .pagination-item[for="2"] {
    background: #fff;
}

input[id="3"]:checked ~ .slider {
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"] {
    background: #fff;
}

/* Animación */
@keyframes autoplay {
    33% {
        transform: translate3d(calc(-100% * 0), 0, 0);
    }
    66% {
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    100% {
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
}

.anuncontainer {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.announcement {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.announcement h2 {
    margin-top: 0;
}

.announcement p {
    margin: 0;
}

.event-image {
    width: 100%;
    height: center;
    border-radius: 5px;
    margin-bottom: 20px;
}

.containercalendar{
    position: relative;
    width: 1200px;
    min-height: 850px;
    margin: 0 auto;
    padding: 5px;
    color: #fff;
    display: flex;
    border-radius: 10px;
    background-color: #100647;
    border-radius: 2px;
}

.left{
    width: 60%;
    padding: 20px;
}

.calendarname{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #100647;
    border-radius: 5px;
    background-color: #fff;
}


.calendar .month{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 58px;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
}

.calendar .month .prev:hover,
.calendar .month .next:hover{
    color: var(--primary-clr);
}

.calemdar.weekdays{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
}

.calemdar.weekdays div{
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar .days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight:  500;
    margin-bottom: 20px;
}

.calendar .days .day{
    width: 14.28%;
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #100647;
    border: 1px solid #fff;
}

